Package: cn.sttt.textcolor
Name: WeChat TextColor
Version: 0.0.2
Architecture: iphoneos-arm64e
Description: A very boring iOS wechat tweak 
Maintainer: sttt
Author: sttt
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://Mieing.Github.io/repo/file/wechat.png
